/MySQLJDBC/build/
/PavketecDDDD/nbproject/private/
/PacketesDDDD/nbproject/private/
/PacketesDDDD/build/
/pakache/nbproject/private/
/pakache/build/
/tilinos/nbproject/private/
/tilinos/build/
/EjemploHerencia/nbproject/private/
/EjemploHerencia/build/
/JavaApplication15/nbproject/private/
/JavaApplication15/build/
/Eventos/nbproject/private/
/events/nbproject/private/
